@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
}

:root {
  --orange: #FF7F21;
  --darkGrey: #4A4A4A;
  --grey: #757575;
  --lightGrey: #E5E5E5;
}

a {
  text-decoration: none;
  font-size: 18px;
  line-height: 100%;
}

p {
  font-size: 14px;
  line-height: 180%;
  margin-bottom: 10px;
}
p:last-child {
  margin-bottom: 0;
}
p:last-of-type {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--grey);
  font-weight: 500;
  position: relative;
}
body.--is-blocked {
  overflow: hidden;
}

.btn {
  background: var(--orange);
  height: 60px;
  border-radius: 5px;
  padding: 20px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}

h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}

.search.nav-search,
.lang.nav-lang,
.navbar {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 10px 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.logo {
  width: 220px;
  height: 30px;
}
.logo img {
  max-width: 220px;
}

.burger-menu-btn {
  width: 30px;
  height: 30px;
  background-image: url("../images/svg/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.burger-menu {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: -100%;
  width: 100%;
  min-height: calc(100% - 60px);
  padding: 15px 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  overflow-y: scroll;
}
.burger-menu .search {
  margin-bottom: 25px;
}
.burger-menu .links-wrapper {
  color: var(--darkGrey);
}
.burger-menu .link {
  color: var(--darkGrey);
}
.burger-menu.--is-active {
  left: 0;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 345px;
  height: 40px;
}
.search input[type=text] {
  width: calc(100% - 40px);
  background: #E5E5E5;
  border-radius: 5px 0 0 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgba(74, 74, 74, 0.5);
  padding: 7px 0 8px 12px;
}
.search input[type=submit] {
  width: 40px;
  background: #E5E5E5;
  border-radius: 0 5px 5px 0;
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.links-wrapper {
  margin-bottom: 30px;
}
.links-wrapper h5 {
  margin-bottom: 10px;
}
.links-wrapper:last-child {
  margin-bottom: 0;
}

.link-item {
  margin-bottom: 10px;
}
.link-item:last-child {
  margin-bottom: 0;
}

.link {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.link:hover {
  color: var(--orange);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.links-list {
  padding-top: 15px;
  border-top: 2px solid var(--grey);
}

.lang {
  background: var(--darkGrey);
  border-radius: 5px;
  color: #fff;
  width: 80px;
  height: 40px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.lang img {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.main {
  padding-top: 60px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--darkGrey);
}

.slider-caption {
  color: #fff;
  padding: 30px 15px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.slider-caption h3 {
  margin-bottom: 40px;
}

.slider-btn {
  width: 150px;
}

.product-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 15px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 15px) / 2);
  border-radius: 5px;
  background: var(--lightGrey);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 15px 15px 0;
  cursor: pointer;
}
.category:nth-child(2n) {
  margin-right: 0;
}
.category:last-child {
  margin-right: 0;
}
.category:hover .category-title {
  background: var(--orange);
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.category-image {
  padding: 15px 15px 5px;
}

.category-title {
  border-radius: 0px 0px 5px 5px;
  background: var(--grey);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  padding: 10px 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.about-company {
  background: #F2F2F2;
}

.about-company h3 {
  margin-bottom: 30px;
  letter-spacing: -0.05em;
  color: var(--darkGrey);
}

.about-text {
  padding: 30px 15px 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-btn {
  width: 180px;
  margin-top: 30px;
}

.footer {
  padding: 35px 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--darkGrey);
  color: #fff;
}
.footer .link {
  color: #fff;
}
.footer .link:hover {
  color: var(--orange);
}
.footer .logo {
  margin-top: 70px;
}
.footer .logo p {
  display: none;
}

.copyright {
  background: var(--orange);
  color: #FFFFFF;
  padding: 7px 15px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .slider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .slider-image {
    width: 65%;
  }

  .slider-caption {
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .category {
    width: calc((100% - 30px) / 3);
    max-width: 345px;
  }
  .category:nth-child(2n) {
    margin-right: 15px;
  }
  .category:nth-child(3n) {
    margin-right: 0;
  }
  .category:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .category {
    width: calc((100% - 45px) / 4);
  }
  .category:nth-child(3n) {
    margin-right: 15px;
  }
  .category:nth-child(4n) {
    margin-right: 0;
  }
  .category:last-child {
    margin-right: 0;
  }

  .about-company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 80px;
  }

  .about-image {
    width: 50%;
  }

  .about-text {
    width: 50%;
    padding: 30px 30px;
  }

  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 50px 40px 30px;
  }
  .footer .logo {
    margin: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 345px;
  }
  .footer .logo p {
    display: block;
    margin-top: 25px;
    font-size: 14px;
    line-height: 19px;
    color: #E5E5E5;
  }
  .footer .links-wrapper {
    margin-bottom: 0;
  }

  .copyright {
    display: none;
  }
}
@media (min-width: 1280px) {
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 48px;
  }

  .header {
    padding: 10px 30px;
  }

  .navbar {
    margin: 0 auto;
  }

  .nav-search {
    width: 230px;
    margin-right: 15px;
  }

  .nav-link {
    color: var(--grey);
    margin-right: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }
  .nav-link:last-child {
    margin-right: 0;
  }
  .nav-link:hover {
    color: var(--orange);
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }

  .search.nav-search, .lang.nav-lang, .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .burger-menu-btn,
.burger-menu {
    display: none;
  }

  .product-categories {
    padding: 60px 0 120px;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .category {
    width: calc((100% - 60px) / 4);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .category:nth-child(3n) {
    margin-right: 20px;
  }

  .category-title {
    font-size: 18px;
    height: 80px;
  }

  .footer {
    padding: 80px calc((100% - 1220px) / 2) 120px;
  }

  .links-wrapper.products-list {
    width: 50%;
  }
  .links-wrapper.products-list .links-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 160px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1920px) {
  .header {
    padding: 10px calc((100% - 1440px) / 2);
  }

  .nav-search {
    width: 100%;
  }

  .slider-caption {
    padding: 0 120px 0 60px;
  }

  .slider-caption h3 {
    max-width: 75%;
    margin-bottom: 100px;
  }

  .product-categories {
    max-width: 1440px;
  }

  .about-company {
    max-width: 1640px;
    margin: 80px auto 200px;
  }

  .about-text {
    padding: 130px 60px 130px 100px;
  }

  .footer {
    padding: 80px calc((100% - 1440px) / 2) 120px;
  }
}
/*# sourceMappingURL=style.css.map */
