@media (min-width: 1280px) {
  .center {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 48px;
  }

  .header {
    padding: 10px 30px;
  }

  .navbar {
    margin: 0 auto;
  }

  .nav-search {
    width: 230px;
    margin-right: 15px;
  }

  .nav-link {
    color: var(--grey);
    margin-right: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }

  .nav-link:last-child {
    margin-right: 0;
  }

  .nav-link:hover {
    color: var(--orange);
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }

  .search.nav-search,
.lang.nav-lang,
.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .burger-menu-btn,
.burger-menu {
    display: none;
  }

  .product-categories {
    margin: 60px auto 120px;
    max-width: 1200px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .category {
    width: calc((100% - 60px) / 4);
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .category:nth-child(3n) {
    margin-right: 20px;
  }

  .category-title {
    font-size: 18px;
    height: 80px;
  }

  .footer {
    padding: 80px calc((100% - 1220px) / 2) 120px;
  }

  .links-wrapper.products-list {
    width: 50%;
  }

  .links-wrapper.products-list .links-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 160px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* page */
  .page-title {
    margin: 30px 0 60px;
  }

  /* breadcrumbs */
  .breadcrumb {
    margin-top: 50px;
  }

  /* catalog */
  .slider-product-categories {
    margin: 30px 0 0;
    overflow: hidden;
    padding-right: 100px;
    padding-left: calc((100% - 1200px) / 2);
    max-width: 90%;
    position: relative;
  }
  .slider-product-categories::after {
    content: ">";
    width: 40px;
    height: 40px;
    background: var(--darkGrey);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    line-height: 100;
    color: #fff;
    cursor: pointer;
  }
  .slider-product-categories::before {
    content: "";
    width: 120px;
    height: 80px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(39.57%, #ffffff));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 39.57%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 39.57%);
    position: absolute;
    right: 0;
    top: 0;
  }

  .slide-category {
    width: auto;
    min-width: 230px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-right: 10px;
  }

  .slide-category-image {
    margin-right: 10px;
    min-width: 60px;
  }

  .slide-category-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: var(--darkGrey);
  }

  /* products */
  .catalog-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 120px;
  }

  .product-filter {
    margin-right: 20px;
    width: 345px;
    min-width: 345px;
  }

  .product-filter-options {
    display: block;
  }

  .products {
    margin-top: 0;
  }

  /* single */
  .single-wrapper {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
  }
  .single-wrapper .breadcrumb {
    margin-top: 0;
  }

  .single-title {
    font-size: 48px;
  }

  .single-table .tl {
    margin-bottom: 10px;
  }

  .single-table span {
    font-size: 18px;
  }

  .single-description ul {
    margin-bottom: 60px;
  }
  .single-description h5 {
    font-size: 24px;
  }
  .single-description li {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .relative-products,
.single-header {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
  }

  /* shop-page */
  .shop {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .shop:nth-child(2n) {
    margin-right: 20px;
  }
  .shop:nth-child(3n) {
    margin-right: 0;
  }

  /* blog */
  .blog-wrapper {
    padding-bottom: 100px;
  }

  .article {
    width: calc((100% - 40px) / 3);
  }
  .article:nth-child(2n) {
    margin-right: 20px;
  }
  .article:nth-child(3n) {
    margin-right: 0;
  }

  /* single-article */
  .bg-image {
    max-width: 1440px;
    margin: 0 auto;
  }
  .bg-image img {
    border-radius: 30px;
  }

  .single-article {
    margin: -150px auto 100px;
    padding: 60px 60px 65px;
  }
}
/*# sourceMappingURL=style-1280.css.map */
